.footer {
    position: relative;
    color: white;
    padding: 20px;
  }
  
  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('https://w0.peakpx.com/wallpaper/687/585/HD-wallpaper-city-neon-skyscraper.jpg');
    background-size: cover;
    filter: blur(5px);
    z-index: -1;
  }
  
  .horizontal-elementsf {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
  }
  
  .elementf {
    color: aliceblue;
    font-size: 2.8rem;
  }
  
  .partner-images {
    display: flex;
    justify-content: center;
    margin-bottom: 10rem;
  }
  
  .partner-image {
    width: 120px;
    height: 120px;
    border-radius: 30%;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 0 10px;

  }
  
  /* Media query for tablets */
  @media (max-width: 768px) {
    .element1 {
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      font-size: 2rem;
    }
  
    .partner-images {
      margin-bottom: 3rem;
    }
  }
  
  /* Media query for mobile devices */
  @media (max-width: 480px) {
    .element1 {
      font-size: 1.5rem;
    }
  }
  



  /* <----footercss---> */

  .footer2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    margin: 1rem;
  }

  .col2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;

  }
  


  
 /* Existing CSS styles remain the same */

/* Media query for tablets and small screens */
@media (max-width: 768px) {
    .elementf {
      font-size: 2rem;
    }
  
    .partner-images {
      margin-bottom: 5rem;
    }
  }
  
  /* Media query for mobile devices */
  @media (max-width: 480px) {
    .elementf {
      font-size: 1.5rem;
    }
  
    .partner-images {
      flex-direction: column;
      align-items: center;
      margin-bottom: 3rem;
    }
  
    .partner-image {
      margin: 10px 0; /* Adjust margin for mobile layout */
    }
  
    .footer2 {
      flex-direction: column;
      align-items: center;
    }
  
    .col1, .col2, .col21, .col22, .col23 {
      text-align: center;
      margin-bottom: 1rem;
    }
  }
  